.main {
  min-height: 100vh;
  padding: 6rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loading{
  height: 100vh;
  text-align: center;
  margin-top: 50vh;
}
.listgroup{
  width: 80%;
}
.title{
  background-color: black;
  color: white;
}
.group{
  width: 80%;
  margin-bottom: 20px;
  text-align: left;
}
.badge{
  cursor: pointer;
}
.muted{
  color: gray;
}
.content{
  height: 50px;
  white-space: pre-line;
  overflow: hidden;
}

/* MODAL PREVIEW */
.preview{
  margin: 50px 20px 20px 20px;
  height: 300px;
  white-space: pre-line;
  overflow: auto;
}

.prevTitle{
  text-align: center;
}


