.main {
  min-height: 100vh;
  padding: 6rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
 
}

.loading{
  height: 100vh;
  text-align: center;
  margin-top: 50vh;
}

.card{ 
  background-color: whitesmoke;
  border: none;
  width: 80%;
  box-shadow: 2px 2px 10px gray;
  margin-bottom: 20px;  
}

.content{
  width: 95%;
  height: 30px;
  white-space:nowrap;
  overflow:hidden;
  text-overflow: ellipsis;
}

.card:hover{
  transform: scale(1.01);
}

.see{
  color: red;
  align-items:flex-end;
  text-align: right;
  text-decoration: none;
}
.see:hover{
  text-decoration: none;
}

.publish{
  text-align: right;
  color: gray;
}
